* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html, body {
    height: 100%;
}
.page {
    padding-bottom:29px ;
}
.header {

    padding-left:330px;
    height: 78px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.nav {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /*align-items: center;*/
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    display: inline-block;
    margin-right: 72px;
}

a {
    text-decoration: none;
    color: red;
}
.main {
    width: 1280px;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-left: 253px;
    margin-bottom: 38px;
    margin-top: 49px;
    text-align: center;
}



.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
    padding-left: 67.5px;
    padding-right: 67.5px;
}
.button {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-color: red;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 544px;
    margin-top: 66px;
    padding-left: 42px;
    padding-top: 18px;
}
.footer {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 713px;
    margin-top: 82px;
    margin-bottom: 29px;

}